body {
  font-family: sans-serif;
}

.title {
  text-align: center;
}

ul li {
  margin-bottom: 0.5em;
}

ul li div {
  display: flex;
  align-items: center;
}
ul li div p {
  margin-right: 1em;
  margin-top: 0;
  margin-bottom: 0;
}

ul li div button + button {
  margin-left: 0.5em;
}
.input-area {
  background-color: #cecece;
  width: 400px;
  padding: 20px;
}

.incomplete-area {
  background-color: #dedede;
  width: 400px;
  padding: 20px;
}

.complete-area {
  background-color: #eeeeee;
  width: 400px;
  padding: 20px;
}
